monocular_depth_estimation:

  enabled: true
  input_compressed: true # set to true if the input image is compressed
  output_compressed: false # set to true if the output image should be compressed
  source_topic: "/wide_angle_camera_front/image_color/compressed"
  target_topic: "/wide_angle_camera_front/depth"
  process_rate: 0.33 # Hz, drop frames if time between received frames is less than 1/process_rate, already deprecated 

  model:
    model_name: "FastDepth" # "FastDepth", "GuidedDecoding"
    
    FastDepth:
      network: "fcn-mobilenet" #fcn-mobilenet, fcn-resnet18, fcn-resnet50
      # model_path: "/home/nvidia/Downloads/FastDepth.pth"
      
    GuidedDecoding:
      network: "GuideDepth" # "GuideDepth", "GuideDepth-S"
      model_path: "/repo/jetson-inference/data/guideddecoding_models/NYU_Full_GuideDepth.pth" # path to the model in the container
      resolution: [480, 640] # [height, width], should match the downloaded model's resolution
      max_depth: 10.0 # maximum depth value in meters, should match the downloaded model's max_depth

    GLPN:
      network: "vinvino02/glpn-nyu" 
      model_cache_dir: "/repo/jetson-inference/data/glpn_models/GLPN.pth" # directory to store automatically downloaded models 
    